.form-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: linear-gradient(to right, #f4fff4, #c8e7c8);
}
.form-title {
  font-size: 32px;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.form-title > span {
  position: relative;
}
.form-title span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, transparent, #c94a7a, transparent);
  bottom: -12px;
}

.form-brand-wrap {
  display: flex;
  justify-content: center;
}
.form-brand {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 10px;
}

/* Form */
.form-content label {
  margin: 0 0 16px 0;
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  letter-spacing: 0.7px;
}
.form-content label::before {
  content: "*";
  color: red;
  padding: 0 4px 0 0;
}
.form-content label :is(input, select) {
  width: 100%;
  margin: 8px 0;
  padding: 0 12px;
  display: block;
  height: 40px;
  color: black;
  background-color: #f6faff;
  border: 1px solid rgb(155, 155, 155);
  box-shadow: 0 0 0 2px rgba(84, 222, 84, 0.25);
  border-radius: 10px;
  outline: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
}
/* Success Message */
.success-message {
  margin: 20px 0 0 0;
  color: green;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  letter-spacing: 0.7px;
  line-height: 1.7rem;
}
/* Error Message */
.error-message {
  color: red;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 1.7rem;
}
/* Responsive */
@media screen and (max-width: 600px) {
  .form-container {
    padding: 24px;
  }
  .form-title {
    font-size: 24px;
  }
  .form-content label {
    font-size: 18px;
  }
  .form-content label :is(input, select) {
    font-size: 16px;
  }
  .success-message {
    margin: 12px 0 0 0;
    font-size: 18px;
  }
}
