.review-section {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: linear-gradient(to right, #f4fff4, #aae7aa);
}
/* Text */
.rw-text-content {
  width: 100%;
}
.rw-text-title {
  margin: 16px 0;
  color: #6f7074;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.rw-text-num {
  color: #54de54;
}
.rw-text-desc {
  margin: 16px 0;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 2.6rem;
}
.rw-text-format {
  margin: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.rw-text-quote1 {
  position: absolute;
  top: -18px;
  left: -24px;
  color: #54de54;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}
.rw-text-quote2 {
  position: absolute;
  right: -18px;
  bottom: -24px;
  color: #54de54;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}
.rw-review {
  display: block;
  margin: 0 0 0 8px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 2.2rem;
}
.rw-authors {
  margin: 0 0 0 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.rw-reviewer-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.rw-reviewer-place {
  margin: 6px 0 0 0;
  color: #6f7074;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
/* Buttons */
.rw-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0 24px 0 0;
}
.rw-btn img {
  width: 40px;
  height: auto;
}
.rw-btn:hover img {
  transform: scale(1.1);
  transition: 0.3s ease;
}
/* Responsive */
@media screen and (max-width: 700px) {
  .review-section {
    letter-spacing: 0.8px;
  }
  .rw-text-title {
    font-size: 22px;
  }
  .rw-text-desc {
    font-size: 28px;
  }
  .rw-review {
    font-size: 22px;
    letter-spacing: 0.7px;
    line-height: 1.8rem;
  }
  .rw-reviewer-name {
    font-size: 20px;
  }
  .rw-btn img {
    margin: 0 16px 0 0;
  }
}
