.navbar-section {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
}
.navbar-title {
  color: #54de54;
  font-family: Cambria, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.navbar-logo {
  width: 40px;
  height: auto;
}

.navbar-items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-family: "Rubik", sans-serif;
}
.navbar-items > li {
  list-style-type: none;
}
.navbar-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 0.8px;
}
.navbar-links:hover {
  color: #54de54;
}
.navbar-btn {
  padding: 14px 20px;
  color: white;
  border: 1px solid transparent;
  border-radius: 28px;
  outline: transparent;
  background-color: #54de54;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.navbar .toast {
  color: #54de54;
}
.navbar-btn:hover {
  color: #54de54;
  background-color: white;
  border: 1px solid #54de54;
}
/* Hamburger Icon */
.mobile-nav {
  display: none;
}
.hamb-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.hamb-icon:hover {
  color: #54de54;
}
/* Mobile Navbar */
.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: white;
  z-index: 20;
  justify-content: center;
  align-items: center;
  transition: left 0.5s ease-in-out;
}
.mobile-navbar-close {
  position: absolute;
  top: 28px;
  right: 28px;
}
.mobile-navbar-close .hamb-icon:hover {
  color: #54de54;
}
.open-nav {
  left: 0;
}
.mobile-navbar-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 24px;
  text-align: center;
}
.mobile-navbar-links li a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  transition: color 0.3s ease-in-out;
}
.mobile-navbar-links li a:hover {
  color: #54de54;
}
/* Responsive */
@media screen and (max-width: 1000px) {
  .navbar-btn,
  .navbar-items {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

/*Toast*/
.Toastify__toast--info svg {
  fill: #54de54;
}
.Toastify__progress-bar {
  background: #54de54 !important;
}
